<%= stylesheet_link_tag "application" %>

<div class="container">
  <div class="top" >

    <div class="row">
      <div class="title">
        <h1>Scrap Books</h1>
      </div>
    </div>

    <div class="row">
      <div class="images">
        <%= image_tag("smartPhone.png", class: 'img-responsive' ) if "smartPhone.png".present? %>
      </div>
    </div>

    <div class="row">
      <div class="comment">
        <p>個人的なPHOTOを自由に投稿できるサイトです。<br>気軽にご利用ください。</p>
      </div>
    </div>
  </div>
</div>